<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us page</title>
</head>
<body>
<section id="content">
    <br>
    <br>
    <h1> this is contact us page....</h1>
    <br>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint culpa magnam veritatis in, laborum aspernatur repudiandae labore, fugiat quae alias eaque minus nisi expedita odio ratione amet repellendus aliquid error.</p>

</section>
<script>
    console.log('contact us page');
</script>
</body>
</html>